/* .col-md-5 img {
    width: 100%;
} */

/* Font colour for logo */
#red-text{
    color: #8b0000;
}

/* Flash messages */
.flashes h4 {
    line-height: 2;
}


/* Limit the number of cards to a deck
https://stackoverflow.com/questions/38895106/how-to-limit-number-of-columns-of-card-deck */
.card-deck{
    margin-top: 10px;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: .5rem;
}
