{% extends "base.html" %}
{% block content %}
    <h3 class="col-lg-12 col-md-12 text-center">Browse the dictionary</h3>
    <hr />
    <table id="table" class="col-lg-12 col-md-12 text-center">
        <tr>
            {% for letter in alphabetList %}
            <td class="thumbnail"><a aria-label="" href="{{ url_for('alphabet', letter=letter) }}" rel="noopener"><p><strong>{{ letter }}</strong></p></a></td>
            {% endfor %}
        </tr>
    </table>
    <hr />
    <h3 class="col-lg-12 col-md-12 text-center">Displaying all words beginning with the letter {{ page_title }}</h3>
    <hr />
    {% for word in words %}
    <h3>{{ word.word }}</h3>
    <p></p>{{ word.definition }}</p>
    {% endfor %}
{% endblock %}