{% extends "base.html" %}
{% block content %}
    <!-- Header for Alphabet -->
    <h3 class="col-lg-12 col-md-12 text-center">Browse the dictionary</h3>
    <hr />
    <!-- Alphabet List -->
    <table id="table" class="col-lg-12 col-md-12 text-center">
        <tr>
            {% for letter in alphabetList %}
            <td class="thumbnail"><a aria-label="" href="{{ url_for('alphabet', letter=letter) }}" rel="noopener"><p><strong>{{ letter }}</strong></p></a></td>
            {% endfor %}
        </tr>
    </table>
    <hr />
    <!-- Card Deck to Display Words -->
    <div class="card-deck">
      {% for word in words %}
        <div class="card m-auto">
          <div class="card-body">
            <h4 class="card-title">{{ word.word|capitalize }}</h5>
            <p class="card-text"><strong>Definition : </strong>{{ word.definition }}</p>  
            <p class="card-text"><strong>Use : </strong>{{ word.use }}</p>
            <p class="card-text"><strong>Letter : </strong>{{ word.category_name }}</p>
            <p class="card-text"><em>Submitted by : {{ word.created_by|capitalize }}</em></p>         
          </div>
        </div>
        {% else %}
            <div><p>Looks like there aren't any words beginning with this letter yet, would you like to <a href="{{ url_for('submit_word') }}">add one now</a>?</p></div>
      </div>
    {% endfor %}
{% endblock %}