<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/clean-blog.min.css') }}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
      type="text/css"
    />
    <title>LexiCork</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Lexi<span id="red-text">Cork</span></a>
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
            </li>
            <li class="nav-item">
                <form class="form-inline">
					<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-dark my-2 my-sm-0 rounded-sm" type="submit">Search</button>
				  </form>
            </li>
			<li class="nav-item">
				<div class="btn-group">
					<button type="button" class="btn">Dictionary</button>
					<button
					  type="button"
					  class="btn dropdown-toggle dropdown-toggle-split"
					  data-toggle="dropdown"
					  aria-haspopup="true"
					  aria-expanded="false"
					>
					  <span class="sr-only">Toggle Dropdown</span>
					</button>
					<div class="dropdown-menu">
					  <a class="dropdown-item" href="{{ url_for('a') }}">a</a>					  
					  <a class="dropdown-item" href="{{ url_for('b') }}">b</a>					  
					  <a class="dropdown-item" href="{{ url_for('c') }}">c</a>					  
					  <a class="dropdown-item" href="{{ url_for('d') }}">d</a>					  
					  <a class="dropdown-item" href="{{ url_for('e') }}">e</a>					  
					  <a class="dropdown-item" href="{{ url_for('f') }}">f</a>					  
					  <a class="dropdown-item" href="{{ url_for('g') }}">g</a>					  
					  <a class="dropdown-item" href="{{ url_for('h') }}">h</a>					  
					  <a class="dropdown-item" href="{{ url_for('i') }}">i</a>					  
					  <a class="dropdown-item" href="{{ url_for('j') }}">j</a>					  
					  <a class="dropdown-item" href="{{ url_for('k') }}">k</a>					  
					  <a class="dropdown-item" href="{{ url_for('l') }}">l</a>					  
					  <a class="dropdown-item" href="{{ url_for('m') }}">m</a>					  
					  <a class="dropdown-item" href="{{ url_for('n') }}">n</a>					  
					  <a class="dropdown-item" href="{{ url_for('o') }}">o</a>					  
					  <a class="dropdown-item" href="{{ url_for('p') }}">p</a>					  
					  <a class="dropdown-item" href="{{ url_for('q') }}">q</a>					  
					  <a class="dropdown-item" href="{{ url_for('r') }}">r</a>					  
					  <a class="dropdown-item" href="{{ url_for('s') }}">s</a>					  
					  <a class="dropdown-item" href="{{ url_for('t') }}">t</a>					  
					  <a class="dropdown-item" href="{{ url_for('u') }}">u</a>					  
					  <a class="dropdown-item" href="{{ url_for('v') }}">v</a>					  
					  <a class="dropdown-item" href="{{ url_for('w') }}">w</a>					  
					  <a class="dropdown-item" href="{{ url_for('x') }}">x</a>					  
					  <a class="dropdown-item" href="{{ url_for('y') }}">y</a>					  
					  <a class="dropdown-item" href="{{ url_for('z') }}">z</a>					  					  
					</div>
				  </div>
			  </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('{{ url_for('static', filename='img/dictionary.jpg') }}')"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Lexi<span id="red-text">Cork</span></h1>
              <span class="subheading">A dictionary of Cork slang words</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">{% block content %} {% endblock %}</div>

    <hr />

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">
              Copyright &copy; Your Website <span id="copyright"></span>
            </p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Custom scripts for this template -->
    <script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>

    <!-- Custom script - add current year function, try to add to JS file later -->
    <script>
      $('#copyright').text(new Date().getFullYear())
    </script>
  </body>
</html>
