{% extends "base.html" %}
{% block content %}
    {% for letter in list_of_letters %}
    <p>{{ list_of_letters}}</p>
    {% endfor %}
    
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
                <p class="alphabet">
                    <h2>{{ page_title }}</h2>
                    <h3 class="post-subtitle">
                        <p>					  
                            <a href="{{ url_for('a') }}">a</a>					  
                            <a href="{{ url_for('b') }}">b</a>					  
                            <a href="{{ url_for('c') }}">c</a>					  
                            <a href="{{ url_for('d') }}">d</a>					  
                            <a href="{{ url_for('e') }}">e</a>					  
                            <a href="{{ url_for('f') }}">f</a>					  
                            <a href="{{ url_for('g') }}">g</a>					  
                            <a href="{{ url_for('h') }}">h</a>					  
                            <a href="{{ url_for('i') }}">i</a>					  
                            <a href="{{ url_for('j') }}">j</a>					  
                            <a href="{{ url_for('k') }}">k</a>					  
                            <a href="{{ url_for('l') }}">l</a>					  
                            <a href="{{ url_for('m') }}">m</a>					  
                            <a href="{{ url_for('n') }}">n</a>					  
                            <a href="{{ url_for('o') }}">o</a>					  
                            <a href="{{ url_for('p') }}">p</a>					  
                            <a href="{{ url_for('q') }}">q</a>					  
                            <a href="{{ url_for('r') }}">r</a>					  
                            <a href="{{ url_for('s') }}">s</a>					  
                            <a href="{{ url_for('t') }}">t</a>					  
                            <a href="{{ url_for('u') }}">u</a>					  
                            <a href="{{ url_for('v') }}">v</a>					  
                            <a href="{{ url_for('w') }}">w</a>					  
                            <a href="{{ url_for('x') }}">x</a>					  
                            <a href="{{ url_for('y') }}">y</a>					  
                            <a href="{{ url_for('z') }}">z</a>
                        </p>
                    </h3>
                </p>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 24, 2019</p>
            </div>
            <hr>
            <!-- <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.
                    </h2>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on September 18, 2019</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Science has not yet mastered prophecy
                    </h2>
                    <h3 class="post-subtitle">
                        We predict too much for the next year and yet far too little for the next ten.
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on August 24, 2019</p>
            </div>
            <hr>
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        Failure is not an option
                    </h2>
                    <h3 class="post-subtitle">
                        Many say exploration is part of our destiny, but it’s actually our duty to future generations.
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#">Start Bootstrap</a>
                    on July 8, 2019</p>
            </div>
            <hr>
             Pager -->
            <!-- <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div> --> 
        </div>
    </div>
{% endblock %}