{% extends "base.html" %}
{% block content %}
    <!-- Displays Users Name -->
    <div class="row">
        <div class="col">
            <div class="card-panel text-center">
                <h3 class="center-align">
                    {{ username|capitalize }}'s Profile
                </h3>
            </div>
        </div>
    </div>
        <!-- Card Deck to Display Words -->
        <div class="card-deck">
            {% for word in words %}
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">{{ word.word|capitalize }}</h5>
                <p class="card-text"><strong>Definition : </strong>{{ word.definition }}</p>  
                <p class="card-text"><strong>Use : </strong>{{ word.use }}</p>
                <p class="card-text"><em>Submitted by : {{ word.created_by|capitalize }}</em></p>
                <div class="">
                    <a href="{{ url_for('edit_word', word_id=word._id) }}" class="btn-sm text-uppercase btn-success rounded">Edit</a>
                </div>
                <div class="">
                    <a href="{{ url_for('delete_word', word_id=word._id) }}" class="btn-sm text-uppercase btn-danger rounded">Delete</a>
                </div>       
              </div>
            </div>
            {% else %}
            <div><p>Looks like you haven't added any words yet, would you like to <a href="{{ url_for('submit_word') }}">add one now</a>?</p></div>
            {% endfor %}
        </div>
{% endblock %}