{% extends "base.html" %}
{% block content %}
    <!-- Displays Users Name -->
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ username.capitalize() }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <!-- url below is throwing an error that word isn't defined -->
    {% for word in words %}
    <div class="">
        {{ words }}
        <a href="{{ url_for('edit_word', word_id=word._id) }}" class="btn-sm btn-danger rounded">Edit</a>
    </div>
    <div class="">
        <a href="{{ url_for('delete_word', word_id=word._id) }}" class="btn-sm btn-danger rounded">Delete</a>
    </div>
    {% endfor %}

{% endblock %}