{% extends "base.html" %}
{% block content %}
    <!-- Submit Word -->
      <form class="card col-12" method="POST" action="{{url_for('submit_word')}}">
          <div class="form-group mt-3">
            <label for="word">Word</label>
            <input id="word" name="word" type="text" maxlength="50" class="form-control" id="word" placeholder="" required>
          </div>
          <div class="form-group">
              <label for="category">Category</label>
              <select class="form-control" name="category" id="category" required>
                  {% for letter in alphabet %}
                  <option value="{{letter}}">{{letter}}</option>
                  {% endfor %}
              </select>
          </div>
          <div class="form-group">
            <label for="definition">Definition</label>
            <textarea class="definition form-control" id="definition" name="definition" maxlength="200" rows="2" required></textarea>
          </div>
          <div class="form-group">
            <label for="use">Use</label>
            <textarea class="use form-control" id="use" name="use" maxlength="200" rows="2" required></textarea>
          </div>
          <div class="text-center mb-3">
              <button type="submit" id="submit-word" class="text-uppercase btn-dark rounded">Submit Word</button>
          </div>
      </form>
{% endblock %}